* {
  margin: 0px;
  padding: 0px;
}
/* @import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap"); */
/* rgb(26, 23, 23) */
/* ffb300 */
html {
  font-size: 10px;
}
@font-face {
  font-family: ff5;
  src: url("fonts/ff5.ttf");
}
@font-face {
  font-family: ff3;
  src: url("fonts/ff3.otf");
}
@font-face {
  font-family: topletterandnumber;
  src: url("fonts/topletterandnumber.ttf");
}
@font-face {
  font-family: ff4;
  src: url("fonts/ff4.ttf");
}
body {
  background-color: #c3c1ca;
  font-family: topletterandnumber;
  margin: 10px;
  height: 100vh;
  /* width: 100vw; */
}
.head {
  background-color: #562cd1;
  height: 90rem;
}
.left {
  font-size: 1rem;
  width: 28rem;
  height: 87rem;
  background-color: #5928e5;
  border: 1rem solid rgb(26, 23, 23);
  z-index: -1;
}
.img {
  width: 28rem;
  height: 22rem;
  background-color: #ffb300;
  clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
}

.img1 {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 1.5rem;
  left: 12rem;
}

.txt1 {
  letter-spacing: 0.5rem;
  color: #101a7b;
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
  position: absolute;
  top: 9.5rem;
  left: 7rem;
  /* text-transform: ; */
}
.txt2 {
  list-style: none;
}
.about {
  /* line-break: anywhere; */
  padding: 3.5rem;
  /* text-transform: lowercase; */
  line-height: 2.3rem;
  word-spacing: 0.5rem;
  font-weight: 900;
  font-family: ff4;
  font-size: 2rem;
}
.aboutxt1 {
  font-family: ff3;
  letter-spacing: 0.5rem;
  text-decoration: none;
  line-height: 3.5rem;
  font-size: 2.5rem;
  text-align: center;
  color: #ffb300;
  /* font-weight: 700; */
}
/* content: "";
  position: absolute;
  background-color: black;
  height: 0.3rem;
  width: 100%;
  left: 0;
  bottom: -1rem; */

.contactxt1 {
  text-align: center;
  font-size: 2.5rem;
  color: #ffb300;
  font-family: ff3;
  letter-spacing: 0.5rem;
}
@keyframes logoanimw {
  from {
    transform: rotate3d(1, 1, 8, 30deg);
  }
}
@keyframes tst1 {
  from {
    transform: rotate3d(1, 1, 8, -10deg);
  }
}

.phone {
  display: flex;
  justify-content: flex-start;
  height: 4rem;
  width: 4rem;
  padding: 1.5rem;
}
.phone:hover {
  animation-name: tst1;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
.gmail {
  padding: 1.5rem;
  display: flex;
  justify-content: flex-start;
  height: 4rem;
  width: 4rem;
}
.gmail:hover {
  animation-name: tst1;
  animation-duration: 3s;
}
.loca {
  padding: 1.5rem;
  height: 4rem;
  width: 4rem;
}
.loca:hover {
  animation-name: tst1;
  animation-duration: 3s;
}

.infotxt1 {
  list-style: none;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  position: absolute;
  top: 44.5rem;
  left: 7.5rem;
  padding: 1rem;
  line-height: 7.5rem;
  cursor: pointer;
}
.follow {
  padding: 1rem;
  text-align: center;
  font-size: 2.5rem;
  color: #ffb300;
  font-family: ff3;
  letter-spacing: 0.5rem;
}
@keyframes anime2 {
  from {
    transform: rotate3d(1, 1, 1, 45deg);
  }
  to {
    transform: rotate(25deg);
  }
}

.twt {
  height: 4.6rem;
  padding: 1rem;
  position: absolute;
  left: 7rem;
}
.twt:hover {
  animation-name: anime2;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
.linki {
  padding: 1rem;
  position: absolute;
  left: 18rem;
}
.linki:hover {
  animation-name: anime1;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
@keyframes anime1 {
  from {
    transform: rotate3d(1, 1, 1, 45deg);
  }
  to {
    transform: rotate(-25deg);
  }
}
.topright {
  padding: 1rem;

  height: 36rem;
  width: 117rem;
  border: 1rem solid black;
  position: absolute;
  top: 1rem;
  right: 1rem;
  /* z-index: 1; */
}
.exp {
  position: absolute;
  top: 2rem;
  left: 4rem;
}
.exptxt1 {
  cursor: grab;
  position: absolute;
  top: 4.5rem;
  left: 12rem;
  font-size: 2.5rem;
  color: #ffb300;
  font-family: ff3;
  letter-spacing: 0.5rem;
}

.topright1 {
  border: 0.5rem solid #1a237c;
  background-color: #6f46e9;
  height: 35rem;
  width: 47%;
}
/* hiver effect not wrked properly */
/* .topright1::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.6),
    transparent 40%
  );
  content: "";
  border-radius: inherit;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
} */
/* .lines {
  width: 1rem;
  height: 20rem;
  background-color: #ffb300;
  position: absolute;
  top: 10rem;
  left: 9rem;
} */
.list1 {
  text-decoration: none;
  color: white;
  font-size: 3.5rem;
  font-family: ff5;

  /* position: absolute; */
  /* position: absolute; */
  letter-spacing: 0.3rem;
  display: block;
  line-height: 7rem;
}
.list1:hover {
  color: #e2ab2b;
}

.a1 {
  position: absolute;
  top: 9.5rem;
  left: 9rem;
}
.a2 {
  position: absolute;
  top: 15.5rem;
  left: 9rem;
}
.a3 {
  position: absolute;
  top: 22.5rem;
  left: 9rem;
}
a::before {
  content: "";
  background-color: black;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  height: 0.3rem;
  width: 100%;
  border-radius: 5rem;
  transform: scaleX(0);
  transition: transform 0.3s linear;
}

a:hover:before {
  content: "";
  transform: scaleX(1);
  /* background-color: black;
  position: absolute;
  left: 0;
  bottom: 1rem;
  height: 0.3rem;
  width: 100%; */
}
.list2 {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  font-family: ff5;

  /* position: absolute; */
  /* position: absolute; */
  letter-spacing: 0.3rem;
  display: block;
  line-height: 7rem;
}
.list2:hover {
  color: #e2ab2b;
}
.b1 {
  position: absolute;
  top: 8rem;
  left: 9rem;
}
.b2 {
  position: absolute;
  top: 14rem;
  left: 9rem;
}
.b3 {
  position: absolute;
  top: 20rem;
  left: 9rem;
}
.img11 {
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: 11rem;
  left: 28rem;
}
.img112 {
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: 17rem;
  left: 29.4rem;
}
.img113 {
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: 24rem;
  left: 24.5rem;
}
/* .topright1:hover {
  opacity: 0.5;
} */

.topleft1 {
  border: 0.5rem solid #1a237c;
  background-color: #6f46e9;
  height: 35rem;
  width: 47%;
  position: absolute;
  right: 0;
  top: 1rem;
  padding-right: 1rem;
}
.img2 {
  height: 6rem;
  width: 6rem;
  position: absolute;
  top: 0.5rem;
  left: 2.5rem;
}
.lftx1 {
  cursor: grab;
  letter-spacing: 0.3rem;
  color: #ffb300;
  font-size: 2.5rem;
  position: absolute;
  left: 11rem;
  top: 2.5rem;
}
.mid1 {
  background-color: #5928e5;
  position: absolute;
  left: 30rem;
  top: 40rem;
  padding: 1rem;
  height: 46rem;
  width: 117rem;
  border: 1rem solid black;
}
.imgpp1 {
  height: 8rem;
  width: 8rem;
  position: absolute;
  top: 3rem;
  left: 3.5rem;
}
.mid2 {
  border: 0.5rem solid #1a237c;
  background-color: #6f46e9;
  height: 99%;
  width: 99%;
}
.ppskl {
  cursor: grab;
  position: absolute;
  top: 6.5rem;
  left: 13.5rem;
  font-size: 2.8rem;
  color: #ffb300;
  font-family: ff3;
  letter-spacing: 0.5rem;
}
.lines {
  background-color: white;
  height: 0.5rem;
  width: 85%;
  margin: 2rem;
  position: absolute;
  top: 14rem;
  left: 11rem;
  border-radius: 0.7rem;
}
.lines1 {
  background-color: white;
  height: 0.5rem;
  width: 85%;
  margin: 2rem;
  position: absolute;
  top: 20rem;
  left: 11rem;
  border-radius: 0.7rem;
}
.lines2 {
  background-color: white;
  height: 0.5rem;
  width: 85%;
  margin: 2rem;
  position: absolute;
  top: 26rem;
  left: 11rem;
  border-radius: 0.7rem;
}
.lines3 {
  background-color: white;
  height: 0.5rem;
  width: 85%;
  margin: 2rem;
  position: absolute;
  top: 32rem;
  left: 11rem;
  border-radius: 0.7rem;
}
.linesblk {
  width: 100%;
  height: 0.5rem;
  border-radius: 20px;
  border: 0.2rem solid #101a7b;
  position: absolute;
  top: -0.2rem;
  overflow: hidden;
}
.linesblk::after {
  content: "";
  background: #e2ab2b;
  width: 0%;
  height: 100%;
  border-radius: 2rem;
  position: absolute;
  animation: progresd 0.5s linear forwards;
}

@keyframes progresd {
  100% {
    width: 90%;
  }
}
.linesblk1 {
  width: 100%;
  height: 0.5rem;
  border-radius: 20px;
  border: 0.2rem solid #101a7b;
  position: absolute;
  top: -0.2rem;
  overflow: hidden;
}
.linesblk1::after {
  content: "";
  background: #e2ab2b;
  width: 0%;
  height: 100%;
  border-radius: 2rem;
  position: absolute;
  animation: progresd2 0.5s linear forwards;
}
@keyframes progresd2 {
  100% {
    width: 85%;
  }
}

.linesblk2 {
  width: 100%;
  height: 0.5rem;
  border-radius: 20px;
  border: 0.2rem solid #101a7b;
  position: absolute;
  top: -0.2rem;
  overflow: hidden;
}
.linesblk2::after {
  content: "";
  background: #e2ab2b;
  width: 0%;
  height: 100%;
  border-radius: 2rem;
  position: absolute;
  animation: progresd3 0.5s linear forwards;
}
@keyframes progresd3 {
  100% {
    width: 70%;
  }
}

.linesblk3 {
  width: 100%;
  height: 0.5rem;
  border-radius: 20px;
  border: 0.2rem solid #101a7b;
  position: absolute;
  top: -0.2rem;
  overflow: hidden;
}
.linesblk3::after {
  content: "";
  background: #e2ab2b;
  width: 0%;
  height: 100%;
  border-radius: 2rem;
  position: absolute;
  animation: progresd4 0.5s linear forwards;
}
@keyframes progresd4 {
  100% {
    width: 60%;
  }
}
.language {
  cursor: pointer;
}
.ppskl1 {
  font-size: 2rem;
  position: absolute;
  top: 13.9rem;
  left: 4.5rem;
  padding: 1rem;
}

.ppskl2 {
  font-size: 2rem;
  position: absolute;
  top: 21rem;
  left: 2.2rem;
}
.ppskl3 {
  font-size: 2rem;
  position: absolute;
  top: 27.2rem;
  left: 2.5rem;
}
.ppskl4 {
  font-size: 2rem;
  position: absolute;
  top: 33rem;
  left: 6rem;
}
